#navfooter {
	clear: both;
	padding-bottom: 6px;
	width: 100px;
	height: 200px;
	line-height: 20px;
	padding-left: 30px;
	color: #fff;
	background: #006d00;
	font-family: serif;
	box-shadow: inset 0 -40px 60px 0 #006d00;
	border-bottom: solid 1px #008ad0;
}

#navfooter a,
#navfooter a:hover {
	text-decoration: none;
	font-family: serif;
	color: #fff;
}

#navfooter p {
	padding-bottom: 5px;
	padding-top: 5px;
}

.navbarlinkstyle {
	color: #fff;
	margin-left: 5px;
	background-color: #000;
}

.navbarlinkstyle:hover {
	color: #fff;
	background-color: transparent;
}

.navbarmenu {
	padding: 0;
}


.navbar-expand-lg .navbar-nav .nav-item {
	padding: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 14px !important;
	font-weight: 400;
	color: #444;
	border-top: 2px solid transparent;
	padding: .25rem;
}


.navbar-expand-lg .navbar-nav a:hover {
	background-color: red;
	transition-delay: 0s;
}


.tab .nav-tabs {
	border: none;
	margin-bottom: 0;
}

.tab-content>.active {
	display: block;
	opacity: 1;
}

.tab .nav-tabs li a {
	padding: 10px 15px;
	margin-right: 15px;
	background: #f8333c;
	color: #fff;
	border: none;
	border-top: 3px solid #f8333c;
	border-bottom: 3px solid #f8333c;
	border-radius: 0;
	overflow: hidden;
	position: relative;
	transition: all .3s ease 0s;
}


.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover {
	border: none;
	border-top: 3px solid #f8333c;
	border-bottom: 3px solid #f8333c;
	background: #fff;
	color: #f8333c;
}

.tab .nav-tabs li a:before {
	content: "";
	border-top: 13px solid #f8333c;
	border-right: 13px solid transparent;
	border-bottom: 13px solid transparent;
	position: absolute;
	top: 0;
	transition: all .3s ease 0s;
}

.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before {
	left: 0;
}

.tab .nav-tabs li a:after {
	content: "";
	border-bottom: 15px solid #f8333c;
	border-left: 15px solid transparent;
	border-top: 15px solid transparent;
	position: absolute;
	bottom: 0;
	transition: all .3s ease 0s;
}

.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after {
	right: 0;
}

@media only screen and (max-width:250px) {
	.tab .nav-tabs li {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
}

.tab .nav-tabs li {
	margin-bottom: 30px;
	font-size: 16px;
}

@media only screen and (max-width:767px) {
	.col-lg-6 {
		margin: 1px !important;
		padding: 10px !important;
	}

	.col-sm-2 {
		width: 50%;
	}

	.mt-5,
	.my-5 {
		margin-top: 1rem !important;
	}

	.mb-5,
	.my-5 {
		margin-bottom: 1rem !important;
	}

	.pb-5,
	.py-5 {
		padding-bottom: .5rem !important;
	}

	.pt-5,
	.py-5 {
		padding-top: .5rem !important;
	}

	.mob-margin-bottom {
		margin-bottom: 3rem !important;
	}

	.col-sm-6,
	.col-lg-6 {
		text-align: center !important;
		float: none !important;
	}

	.col-sm-6 ul {
		text-align: left !important;
		margin-right: 5px;
		margin-top: 0 !important;
	}

	.footer-copyright ul,
	.col-lg-6 h1 {
		text-align: center !important;
	}

	.navbar-brand {
		margin: 0 auto;
		padding-left: 25px;
	}
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 16px !important;
	font-weight: 400;
	color: #fff;
}

.center {
	text-align: center;
}

.w3-button {
	margin-left: 16px;
}

.right-sidebar .card-header {
	display: block !important;
	background: 0 0;
	border: 0;
}

.leftBarList li {
	line-height: 1.5;
	margin-top: 5px;
	margin-left: -30px;
	background-color: #fff;
	list-style: none;
	white-space: nowrap;
}

.leftBarList li a {
	margin-left: 4px;
}

.left-content {
	border-right: 1px solid #eaeaea;
}

span.h1span {
	color: red;
}

#h1,
#left table,
.h1 {
	margin-top: 5px;
}


.homebox h1,
.homebox2 h2 {
	margin-left: 20px;
	padding: 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 15px;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
	color: #006d00;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
	color: #f8333c
}

details>p {
	border-radius: 0 0 10px 10px;
	background-color: #ddd;
	padding: 2px 6px;
	margin: 0;
	box-shadow: 3px 3px 4px black;
}

figure {
	display: inline;
}

figcaption {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}